.hero {
	width: 100%;
	height: 40vh;
	background-image: url('https://i.guim.co.uk/img/media/b563ac5db4b4a4e1197c586bbca3edebca9173cd/0_12_3307_1985/master/3307.jpg?width=1200&quality=85&auto=format&fit=max&s=7543c611e54f684ba5da8700c2ac15d9');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 0.75em 2em;
}

.nav__container {
	display: flex;
	height: auto;
	justify-content: center;
	color: #fff;
	font-size: 1rem;
	font-weight: 500;
	padding: 0 0 1rem 0;
	gap: 1em;
}

.nav__btn {
	display: inherit;
	height: auto;
	color: #fff;
	background-color: yellowgreen;
	border-radius: 8px;
	padding: 0.3em 1em 0.3em 1em;
	font-size: 1rem;
	outline: none;
}

.nav__btn:enabled,
.nav__btn[enabled],
.nav__btn:hover {
	cursor: pointer;
}

.nav__btn:disabled,
.nav__btn[disabled] {
	background-color: #cccccc;
	color: #666666;
	cursor: default;
}

.nav__list {
	display: inherit;
	height: auto;
	font-size: 1rem;
}

.contact__btn {
	width: fit-content;
	height: fit-content;
	padding: 0.2em;
	position: fixed;
	top: 20vh;
	left: 0px;
	border-radius: 0 5px 5px 0;
	background-color: #66666650;
}

.bx {
	color: #fff;
}

@media screen and (min-width: 1024px) {
	.hero {
		height: 50vh;
	}
}
